In [1]:
import pandas as pd

In [2]:
import os
path1 ='./'
os.chdir(path1)

In [3]:
def RevComplment(s): #Case-senstive reverse complmnentarty conversion
    comp = []
    for i in s[::-1]:
        if i == 'a':
            comp.append('t')
        if i == 'A':
            comp.append('T')
        if i == 't':
            comp.append('a')
        if i == 'T':
            comp.append('A')
        if i == 'c':
            comp.append('g')
        if i == 'C':
            comp.append('G')
        if i == 'g':
            comp.append('c')
        if i == 'G':
            comp.append('C')
    return ''.join(comp)

In [4]:
Codons = []
with open("CodonTable.txt") as File:
    for line in File:
        line = line.split()
        Codons.append(line)

In [5]:
Codons[0:5]

[['Codon', 'Codon_LC', 'AminoAcid', 'Letter', 'FullName'],
 ['AAA', 'aaa', 'Lys', 'K', 'Lysine'],
 ['AAC', 'aac', 'Asn', 'N', 'Asparagine'],
 ['AAG', 'aag', 'Lys', 'K', 'Lysine'],
 ['AAT', 'aat', 'Asn', 'N', 'Asparagine']]

In [6]:
#Codon Dictionary recognizes upper and lower case inputs
CodonID = {}
for cod in Codons[1:]:
    CodonID[cod[1]] = cod[4]
    CodonID[cod[0]] = cod[4]

In [7]:
CodonID['tga']

'Stop'

In [8]:
#Codon Name to Letter
CodonLetter = {}
for cod in Codons[1:]:
    CodonLetter[cod[4]] = cod[3]

In [9]:
CodonLetter['Lysine']

'K'

In [10]:
#Custom Base Editor to any nucleotide
def BaseEditor_Nuc(codon_seq, nuc_num, letter):
    seq_list = list(codon_seq)
    seq_list[nuc_num] = letter
    return(''.join(seq_list))

In [11]:
BaseEditor_Nuc('CCC', 2, 't')

'CCt'

In [12]:
#open cDNA sequence 
cDNA_seq = open("CLIP1-LTKseq_cDNA.txt", "r").read()

In [13]:
cDNA_seq

'agaatcccgggccttctagaggatccaccATGAGTATGCTAAAGCCAAGTGGGCTTAAGGCCCCCACCAAGATCCTGAAGCCTGGAAGCACAGCTCTGAAGACACCTACGGCTGTTGTAGCTCCAGTAGAAAAAACCATATCCAGTGAAAAAGCATCAAGCACTCCATCATCTGAGACTCAGGAGGAATTTGTGGATGACTTTCGAGTTGGGGAGCGAGTTTGGGTGAATGGAAATAAGCCTGGATTTATCCAGTTTCTTGGAGAAACCCAGTTTGCACCAGGCCAGTGGGCTGGAATTGTTTTAGATGAACCCATAGGCAAGAACGATGGTTCGGTGGCAGGAGTTCGGTATTTCCAGTGTGAACCTTTAAAGGGCATATTTACCCGACCTTCAAAGTTAACAAGGAAGGTGCAAGCAGAAGATGAAGCTAATGGCCTGCAGACAACGCCCGCCTCCCGAGCTACTTCACCGCTGTGCACTTCTACGGCCAGCATGGTGTCTTCCTCCCCCTCCACCCCTTCAAACATCCCTCAGAAACCATCACAGCCAGCAGCAAAGGAACCTTCAGCTACGCCTCCGATCAGCAACCTTACAAAAACTGCCAGTGAATCTATCTCCAACCTTTCAGAGGCTGGCTCAATCAAGAAAGGAGAAAGAGAGCTCAAAATCGGAGACAGAGTATTGGTTGGTGGCACTAAGGCTGGTGTAGTCCGGTTTCTTGGGGAGACCGACTTTGCCAAGGGGGAGTGGTGTGGCGTGGAGTTAGATGAGCCACTTGGGAAGAATGATGGCGCTGTTGCTGGAACAAGGTATTTTCAGTGTCAACCCAAATATGGCTTGTTCGCTCCTGTCCACAAAGTTACCAAGATTGGCTTCCCTTCCACTACACCAGCCAAAGCCAAGGCCAACGCAGTGAGGCGAGTGATGGCGACCACGTCCGCCAGCCTGAAGCGCAGCCCTTCTGCCTCTTCCCTCAGCTCCATGAGCTCAGTGGCCTCCTCTGTGAGCAGCAGGCCCAGTCGGACAGGACTATTGACTGAAACCTCCTCCCGTTACGCCAGGAAGATCTCCGGTACCACTGCCCTCCAGGAGGCCCTGAAGGAGAAGCAGCAGCACATTGAGCAGCTGCTGGCGGAACGGGATCTGGAGAGGGCGGAGGTGGCCAAGGCCACGAGCCACGTGGGGGAGATAGAGCAGGAGCTAGCTCTGGCCCGGGACGGACATGACCAGCATGTCCTGGAATTGGAAGCCAAAATGGACCAGCTGCGAACAATGGTGGAAGCTGCTGACAGGGAGAAGGTGGAGCTTCTCAACCAGCTTGAAGAGGAGAAAAGGAAGGTTGAGGACCTTCAGTTCCGGGTTGAAGAAGAATCAATTACCAAAGGTGATCTTGAGCAAAAGAGCCAGATTTCTGAAGATCCTGAGAATACGCAGACCAAACTGGAGCATGCCCGCATTAAGGAGCTTGAACAGAGCCTGCTCTTTGAAAAGACCAAAGCTGACAAACTCCAGAGGGAGTTAGAAGACACTAGGGTGGCTACAGTTTCAGAAAAGTCACGTATAATGGAACTGGAGAAAGACCTAGCATTGAGAGTACAGGAAGTAGCTGAGCTCCGAAGAAGGCTAGAGTCCAATAAGCCTGCTGGGGATGTGGACATGTCACTTTCCCTTTTGCAAGAGATAAGCTCTTTGCAAGAAAAGTTAGAAGTCACCCGTACTGACCACCAGAGAGAAATAACTTCTCTGAAGGAGCATTTTGGAGCCCGGGAAGAAACTCATCAGAAGGAGATAAAGGCTCTGTATACCGCCACGGAAAAGCTTTCCAAAGAGAACGAGTCATTGAAAAGCAAGCTGGAGCATGCCAACAAAGAGAACTCAGATGTGATAGCTCTATGGAAGTCCAAACTGGAGACTGCCATCGCATCCCACCAGCAGGCGATGGAAGAACTGAAGGTATCTTTCAGCAAAGGGCTTGGAACAGAGACGGCAGAATTTGCTGAACTAAAAACACAAATAGAGAAAATGAGACTAGATTACCAACACGAAATAGAAAATTTGCAGAATCAACAAGACTCTGAACGGGCTGCCCATGCTAAAGAGATGGAAGCCTTGAGGGCTAAACTGATGAAAGTTATTAAAGAAAAGGAAAACAGTCTGGAAGCCATCAGGTCGAAACTGGACAAAGCAGAAGACCAGCATCTCGTAGAAATGGAAGACACGTTAAACAAATTACAGGAAGCTGAAATAAAGGTAAAGGAGCTAGAGGTACTGCAAGCCAAATGCAATGAACAAACCAAGGTTATTGATAATTTTACATCACAGCTCAAGGCTACTGAAGAAAAGCTCTTGGATCTTGATGCACTTCGGAAAGCCAGTTCCGAAGGTAAATCGGAAATGAAGAAACTTAGACAGCAGCTTGAGGCAGCTGAGAAACAGATTAAACATTTAGAGATTGAAAAGAATGCTGAAAGTAGCAAGGCTAGTAGCATTACCAGAGAGCTCCAGGGGAGAGAGCTAAAGCTTACTAACCTTCAGGAAAATTTGAGTGAAGTCAGTCAAGTGAAAGAGACTTTGGAAAAAGAACTTCAGATTTTGAAAGAAAAGTTTGCTGAAGCTTCAGAGGAGGCAGTCTCTGTTCAGAGAAGTATGCAAGAAACTGTAAATAAGTTACACCAAAAGGAGGAACAGTTTAACATGCTGTCTTCTGACTTGGAGAAGCTGAGAGAAAACTTAGCAGATATGGAGGCAAAATTTAGAGAGAAAGATGAGAGAGAAGAGCAGCTGATAAAGGCAAAGGAAAAACTGGAAAATGACATTGCAGAAATAATGAAGATGTCAGGAGATAACTCTTCTCAGCTGACAAAAATGAACGATGAATTACGTCTGAAAGAAAGAGATGTAGAAGAATTACAGCTAAAACTTACAAAGGCTAATGAAAATGCAAGTTTTCTGCAAAAAAGTATTGAGGACATGACTGTCAAAGCTGAACAGAGCCAGCAAGAAGCAGCTAAAAAGCATGAGGAAGAAAAGAAAGAATTGGAGAGGAAATTGTCGGACCTGGAAAAGAAAATGGAAACAAGCCACAACCAGTGTCAGGAGCTGAAAGCCAGGTATGAGAGAGCCACTTCTGAGACAAAAACCAAGCATGAAGAAATCCTACAGAACCTCCAGAAGACGCTGCTGGACACAGAGGACAAGCTGAAGGGCGCACGGGAGGAGAACAGTGGCTTGCTGCAGGAGCTGGAGGAGCTGAGAAAGCAAGCCGACAAAGCCAAAGTGGGGCTTGGCCCGGCCCAGTCCTGGCCTCTGCCACCAGGTGTCACCGAGGTTTCCCCAGCCAATGTTACTCTGCTCAGAGCCCTGGGCCATGGTGCCTTTGGGGAGGTGTATGAGGGACTGGTAATTGGCCTTCCTGGGGACTCCAGTCCCCTGCAGGTAGCTATCAAGACCCTGCCAGAACTCTGCTCGCCTCAGGATGAGCTGGATTTCCTCATGGAGGCCCTCATCATCAGCAAGTTTCGCCATCAGAACATTGTGCGGTGTGTGGGGCTCAGCCTCAGGGCCACCCCTCGCCTCATTCTGCTGGAACTGATGTCTGGAGGGGACATGAAGAGTTTCCTGAGGCACAGTCGGCCACACCTGGGCCAGCCATCACCTCTGGTCATGCGGGACCTGCTGCAACTGGCCCAGGACATAGCCCAGGGCTGCCACTACCTGGAGGAAAATCACTTCATCCACAGGGATATTGCCGCCCGGAACTGCCTGCTGAGCTGCGCTGGACCCAGCCGAGTGGCCAAGATTGGGGACTTTGGGATGGCACGAGATATCTACCGGGCCAGTTATTACCGCAGGGGGGACCGGGCCTTGCTCCCAGTCAAGTGGATGCCCCCAGAGGCCTTCCTGGAGGGCATCTTCACATCCAAGACAGATTCCTGGTCTTTTGGGGTGCTGCTCTGGGAGATCTTCTCACTGGGCTACATGCCCTATCCTGGGCGCACCAACCAGGAGGTGCTGGACTTCGTCGTTGGAGGAGGCCGGATGGACCCTCCTAGGGGCTGCCCAGGGCCTGTGTACCGCATCATGACCCAGTGTTGGCAGCACGAGCCTGAGCTCCGCCCTAGCTTTGCCAGCATCTTGGAGCGTCTGCAGTACTGCACTCAGGACCCGGATGTGCTGAATTCACTCCTGCCAATGGAGCTGGGGCCCACCCCAGAGGAGGAAGGGACTTCTGGGCTGGGGAACAGATCTTTGGAGTGCCTAAGACCCCCACAGCCCCAGGAACTGAGTCCAGAGAAGTTGAAAAGCTGGGGAGGTAGCCCTCTTGGCCCCTGGCTGTCCTCTGGCCTCAAGCCCCTCAAATCCAGGGGCCTCCAACCTCAGAACCTTTGGAATCCCACTTATCGCTCCTGAgtcgactcgacaatcaacctctg'

In [14]:
len(cDNA_seq)

4435

In [15]:
cDNA_seq[29:32] #start site

'ATG'

In [9]:
#make cDNA all UPPER case
cDNA_seq = cDNA_seq.upper()

In [16]:
#List of sgRNAs
sg = []
with open("CLIPLTK_NG sgRNA that passed QC.txt") as File:
    for line in File:
        line = line.split()
        sg.append(line)

In [17]:
len(sg)

1908

In [20]:
#Make as flat list of sgRNA in upper case
sgRNA_Seq_List = [i[0].upper() for i in sg]

In [21]:
#Confirm the presence of sgRNA that bind the negative strand
sgRNA_Seq[2] in Rev_cDNA_Seq

NameError: name 'sgRNA_Seq' is not defined

In [22]:
sgRNA_Seq[0]

NameError: name 'sgRNA_Seq' is not defined

In [69]:
#check if any duplicates in sgRNA list
full_list = []
for i in sgRNA_Seq:
    if i in full_list:
        print(i)
    if i not in full_list:
        full_list.append(i)
len(full_list)

1908

In [85]:
sgRNA_Seq[2:3]

['TTTTCCGTGGCGGTATACAG']

## Goal is to create function where input is sequence, start site, and sgRNA and spit out the mutations possible by the sgRNA

# Align sgRNAs to Sequence, Determine Mutagenesis

In [23]:
Col_Names = ['sgRNA Seq', 'Strand', 'PAM', 'sgRNA_Nuc', 'BE Nuc', 'Type', 'Cod_seq', 'New_cod', 'Cod_nuc', 'Old_cod_ID', 'BE_Target_AA', 'New_cod_ID']
BE_sgRNA = pd.DataFrame(BaseEditing_sgRNA, columns=Col_Names)

NameError: name 'BaseEditing_sgRNA' is not defined

In [260]:
#5 bp Base Editor Window of sgRNA is 4bp to 8bp
MutStart = 2 #nucleotide 3
MutEnd = 10 #nucleotide 10
#Transcriptional Start Site
start_site = 29 #Start sites starts with "ATG...."
TargetSeq = cDNA_seq #Target DNA sequence
RevComp_TargetSeq = RevComplment(TargetSeq) #Reverse comp of target sequence
sgRNA_Seq = sgRNA_Seq_List
sgRNA_Strand = []
sgRNA_not_in_Seq = []
#Determine if sgRNA binds positive or negative strand
for g in sgRNA_Seq:
    if g in TargetSeq:
        sgRNA_Strand.append([g, 'pos'])
    if g in RevComp_TargetSeq:
        sgRNA_Strand.append([g, 'neg'])
    if (g not in RevComp_TargetSeq) and (g not in TargetSeq):
        sgRNA_not_in_Seq.append([g, 'NOT FOUND'])
#Identify the mutagenic region
BaseEditing_sgRNA = []
for g_strand in sgRNA_Strand:
    if g_strand[1] == 'pos':
        Loc = TargetSeq.find(g_strand[0]) #sgRNA start nucleotide
        PAM = TargetSeq[Loc+20:Loc+23] #PAM Seq
        BE_Window = TargetSeq[Loc+MutStart:Loc+MutEnd]
        if not (('C' in BE_Window)): #Empty Window
            g_strand_Info = g_strand + [PAM, 'NA', Loc+5, 'CBE', 'NA', 'NA', 'NA', 'NA', ((Loc+5-start_site)//3)+1, 'Null']
            BaseEditing_sgRNA.append(g_strand_Info)
        if not (('A' in BE_Window)): #Empty Window
            g_strand_Info = g_strand + [PAM, 'NA', Loc+5, 'ABE', 'NA', 'NA', 'NA', 'NA', ((Loc+5-start_site)//3)+1, 'Null']
            BaseEditing_sgRNA.append(g_strand_Info)
        for i in range(len(list(BE_Window))):
            if BE_Window[i] == 'C':
                sgRNA_Nuc = MutStart + i  #nucletide mutated in sgRNA
                BE_nuc = Loc + MutStart + i #nucleotide in seqience
                BE_Target_AA = ((BE_nuc-start_site)//3) #amino acid number
                Cod_seq = TargetSeq[(BE_Target_AA*3)+start_site:(BE_Target_AA*3)+start_site+3] #codon seq
                BE_nuc_reminder = (BE_nuc-start_site)%3 #nucleotide in codon
                New_cod = BaseEditor_Nuc(Cod_seq,BE_nuc_reminder,'T') #new codon made
                Old_cod_ID = CodonID[Cod_seq] #old codon name
                New_cod_ID = CodonID[New_cod] #new codon name
                g_strand_Info = g_strand + [PAM, sgRNA_Nuc+1, BE_nuc+1, 'CBE', Cod_seq, New_cod, BE_nuc_reminder+1, Old_cod_ID, (BE_Target_AA+1), New_cod_ID]
                BaseEditing_sgRNA.append(g_strand_Info)
            if BE_Window[i] == 'A':
                sgRNA_Nuc = MutStart + i #nucletide mutated in sgRNA
                BE_nuc = Loc + MutStart + i #nucleotide in seqience
                BE_Target_AA = ((BE_nuc-start_site)//3) #amino acid number
                Cod_seq = TargetSeq[(BE_Target_AA*3)+start_site:(BE_Target_AA*3)+start_site+3] #codon seq
                BE_nuc_reminder = (BE_nuc-start_site)%3 #nucleotide in codon
                New_cod = BaseEditor_Nuc(Cod_seq,BE_nuc_reminder,'G') #new codon made
                Old_cod_ID = CodonID[Cod_seq] #old codon name
                New_cod_ID = CodonID[New_cod] #new codon name
                g_strand_Info = g_strand + [PAM, sgRNA_Nuc+1, BE_nuc+1, 'ABE', Cod_seq, New_cod, BE_nuc_reminder+1, Old_cod_ID, (BE_Target_AA+1), New_cod_ID]
                BaseEditing_sgRNA.append(g_strand_Info)
    if g_strand[1] == 'neg': #negative strand 
        Loc2 = RevComp_TargetSeq.find(g_strand[0]) #Negative strand location
        PAM = RevComp_TargetSeq[Loc2+20:Loc2+23] #PAM Seq
        Loc = len(TargetSeq)-Loc2-MutEnd-2 #Positive strand location
        BE_Window = TargetSeq[Loc+MutStart:Loc+MutEnd] #Editing Window in positive strand
        if not (('G' in BE_Window)): #Empty Window
            g_strand_Info = g_strand + [PAM, 'NA', Loc+8, 'CBE', 'NA', 'NA', 'NA', 'NA', ((Loc+8-start_site)//3)+1, 'Null']
            BaseEditing_sgRNA.append(g_strand_Info)
        if not (('T' in BE_Window)): #Empty Window
            g_strand_Info = g_strand + [PAM, 'NA', Loc+8, 'ABE', 'NA', 'NA', 'NA', 'NA', ((Loc+8-start_site)//3)+1, 'Null']
            BaseEditing_sgRNA.append(g_strand_Info)
        for i in range(len(list(BE_Window))):
            if BE_Window[i] == 'G':
                sgRNA_Nuc = 20 - MutEnd - i #nucletide mutated in sgRNA
                BE_nuc = Loc + MutStart + i  #nucleotide in seqience
                BE_Target_AA = ((BE_nuc-start_site)//3) #amino acid number -1 (python)
                Cod_seq = TargetSeq[(BE_Target_AA*3)+start_site:(BE_Target_AA*3)+start_site+3] #codon seq
                BE_nuc_reminder = (BE_nuc-start_site)%3 #nucleotide in codon
                New_cod = BaseEditor_Nuc(Cod_seq,BE_nuc_reminder,'A') #new codon made
                Old_cod_ID = CodonID[Cod_seq] #old codon name
                New_cod_ID = CodonID[New_cod] #new codon name
                g_strand_Info = g_strand + [PAM, sgRNA_Nuc, BE_nuc+1, 'CBE', Cod_seq, New_cod, BE_nuc_reminder+1, Old_cod_ID, (BE_Target_AA+1), New_cod_ID]
                BaseEditing_sgRNA.append(g_strand_Info)
            if BE_Window[i] == 'T':
                sgRNA_Nuc = 20 - MutEnd - i #nucletide mutated in sgRNA
                BE_nuc = Loc + MutStart + i #nucleotide in seqience
                BE_Target_AA = ((BE_nuc-start_site)//3) #amino acid number -1 (python)
                Cod_seq = TargetSeq[(BE_Target_AA*3)+start_site:(BE_Target_AA*3)+start_site+3] #codon seq
                BE_nuc_reminder = (BE_nuc-start_site)%3 #nucleotide in codon
                New_cod = BaseEditor_Nuc(Cod_seq,BE_nuc_reminder,'C') #new codon made
                Old_cod_ID = CodonID[Cod_seq] #old codon name
                New_cod_ID = CodonID[New_cod] #new codon name
                g_strand_Info = g_strand + [PAM, sgRNA_Nuc, BE_nuc+1, 'ABE', Cod_seq, New_cod, BE_nuc_reminder+1, Old_cod_ID, (BE_Target_AA+1), New_cod_ID]
                BaseEditing_sgRNA.append(g_strand_Info)

In [236]:
len(sgRNA_Strand) == len(sgRNA_Seq)

True

In [237]:
#Check if any sgRNA are not found in the cDNA sequence
len(sgRNA_not_in_Seq)

0

In [238]:
#check if any duplicates in BE sgRNA list
full_list = []
for i in BaseEditing_sgRNA:
    if i[0] not in full_list:
        full_list.append(i[0])
len(full_list)

1908

In [239]:
len(BaseEditing_sgRNA)

8096

In [261]:
Col_Names = ['sgRNA Seq', 'Strand', 'PAM', 'sgRNA_Nuc', 'BE Nuc', 'Type', 'Cod_seq', 'New_cod', 'Cod_nuc', 'Old_cod_ID', 'BE_Target_AA', 'New_cod_ID']
BE_sgRNA = pd.DataFrame(BaseEditing_sgRNA, columns=Col_Names)

In [262]:
BE_sgRNA.tail()

,sgRNA Seq,Strand,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID
8091,AAAAACACAAATAGAGAAAA,pos,TGA,9,2014,ABE,CAA,CGA,2,Glutamine,662,Arginine
8092,AAAAACACAAATAGAGAAAA,pos,TGA,10,2015,ABE,CAA,CAG,3,Glutamine,662,Glutamine
8093,AGCTGTGCTTCCAGGCTTCA,neg,GGA,NA,91,ABE,NA,NA,NA,NA,21,Null
8094,AGCTGTGCTTCCAGGCTTCA,neg,GGA,8,88,CBE,AGC,AAC,2,Serine,20,Asparagine
8095,AGCTGTGCTTCCAGGCTTCA,neg,GGA,3,93,CBE,GCT,ACT,1,Alanine,22,Threonine

In [264]:
BE_sgRNA.head(10)

,sgRNA Seq,Strand,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID
0,GGGATATTGCCGCCCGGAAC,pos,TGC,4,3745,ABE,GAT,GGT,2,Aspartic_acid,1239,Glycine
1,GGGATATTGCCGCCCGGAAC,pos,TGC,6,3747,ABE,ATT,GTT,1,Isoleucine,1240,Valine
2,GGGATATTGCCGCCCGGAAC,pos,TGC,10,3751,CBE,GCC,GTC,2,Alanine,1241,Valine
3,TATTACCGCAGGGGGGACCG,pos,GGC,5,3847,ABE,TAC,TGC,2,Tyrosine,1273,Cysteine
4,TATTACCGCAGGGGGGACCG,pos,GGC,6,3848,CBE,TAC,TAT,3,Tyrosine,1273,Tyrosine
5,TATTACCGCAGGGGGGACCG,pos,GGC,7,3849,CBE,CGC,TGC,1,Arginine,1274,Cysteine
6,TATTACCGCAGGGGGGACCG,pos,GGC,9,3851,CBE,CGC,CGT,3,Arginine,1274,Arginine
7,TATTACCGCAGGGGGGACCG,pos,GGC,10,3852,ABE,AGG,GGG,1,Arginine,1275,Glycine
8,TTTTCCGTGGCGGTATACAG,neg,AGC,NA,1815,ABE,NA,NA,NA,NA,596,Null
9,TTTTCCGTGGCGGTATACAG,neg,AGC,6,1814,CBE,ACG,ACA,3,Threonine,595,Threonine

In [209]:
len(BE_sgRNA)

8096

In [265]:
BE_sgRNA.to_csv('CLIP1-LTK Predicted Mutagenesis 20220904.csv')

In [266]:
BE_sgRNA['Old_cod_Letter'] = BE_sgRNA['Old_cod_ID'].map(CodonLetter)
BE_sgRNA['New_cod_Letter'] = BE_sgRNA['New_cod_ID'].map(CodonLetter)

In [267]:
BE_sgRNA['Class'] = 'Unclassified'
BE_sgRNA.loc[BE_sgRNA['New_cod_ID'] != BE_sgRNA['Old_cod_ID'],'Class'] = 'Missense'
BE_sgRNA.loc[(BE_sgRNA['New_cod_ID'] == 'Stop') & (BE_sgRNA['Type'] == 'CBE') ,'Class'] = 'iStop'
BE_sgRNA.loc[(BE_sgRNA['Type'] == 'ABE') & (BE_sgRNA['BE_Target_AA'] == 1) ,'Class'] = 'iSilence'
BE_sgRNA.loc[BE_sgRNA['New_cod_ID'] == BE_sgRNA['Old_cod_ID'],'Class'] = 'Silent'
BE_sgRNA.loc[BE_sgRNA['New_cod_ID'] == 'Null','Class'] = 'Negative Control'

In [268]:
#Match to CHOP CHOP List
#open list
CHOP_sgRNA = pd.read_csv('Full length CLIP-LTK NG PAM Library from CHOP CHOP.tsv', delimiter='\t')
CHOP_sgRNA['sgRNA Seq'] = CHOP_sgRNA['Target sequence'].str[:20]
CHOP_sgRNA['Seq Location'] = CHOP_sgRNA['Genomic location'].str[4:].astype(int) #convert sgRNA sequence location into number
#Sorted by binding location
CHOP_sgRNA = CHOP_sgRNA.sort_values(by='Seq Location')
CHOP_sgRNA.reset_index(inplace=True)

In [269]:
CHOP_sgRNA['sgNAME'] = str('CLIPLTK_') + CHOP_sgRNA.index.astype(str)

In [270]:
CHOP_sgRNA.head()

,index,Rank,Target sequence,Genomic location,Strand,GC content (%),Self-complementarity,MM0,MM1,MM2,MM3,Efficiency,sgRNA Seq,Seq Location,sgNAME
0,439,440,ATACTCATGGTGGATCCTCTAG,seq:1,-,45,1,0,0,1,30,0.0,ATACTCATGGTGGATCCTCT,1,CLIPLTK_0
1,326,327,TAGAGGATCCACCATGAGTATG,seq:2,+,45,0,0,0,3,21,0.0,TAGAGGATCCACCATGAGTA,2,CLIPLTK_1
2,233,234,ATCCACCATGAGTATGCTAAAG,seq:8,+,40,1,0,0,0,20,0.0,ATCCACCATGAGTATGCTAA,8,CLIPLTK_2
3,296,297,GGCTTTAGCATACTCATGGTGG,seq:10,-,45,0,0,0,2,21,0.0,GGCTTTAGCATACTCATGGT,10,CLIPLTK_3
4,699,700,TGGCTTTAGCATACTCATGGTG,seq:11,-,45,1,0,0,3,44,0.0,TGGCTTTAGCATACTCATGG,11,CLIPLTK_4

In [271]:
#merge data
BE_sgRNA_Class_Labeled = pd.merge(BE_sgRNA, CHOP_sgRNA, how='left', on='sgRNA Seq')

In [272]:
BE_sgRNA_Class_Labeled.head()

,sgRNA Seq,Strand_x,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID,Old_cod_Letter,New_cod_Letter,Class,index,Rank,Target sequence,Genomic location,Strand_y,GC content (%),Self-complementarity,MM0,MM1,MM2,MM3,Efficiency,Seq Location,sgNAME
0,GGGATATTGCCGCCCGGAAC,pos,TGC,4,3745,ABE,GAT,GGT,2,Aspartic_acid,1239,Glycine,D,G,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
1,GGGATATTGCCGCCCGGAAC,pos,TGC,6,3747,ABE,ATT,GTT,1,Isoleucine,1240,Valine,I,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
2,GGGATATTGCCGCCCGGAAC,pos,TGC,10,3751,CBE,GCC,GTC,2,Alanine,1241,Valine,A,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
3,TATTACCGCAGGGGGGACCG,pos,GGC,5,3847,ABE,TAC,TGC,2,Tyrosine,1273,Cysteine,Y,C,Missense,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653
4,TATTACCGCAGGGGGGACCG,pos,GGC,6,3848,CBE,TAC,TAT,3,Tyrosine,1273,Tyrosine,Y,Y,Silent,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653

In [273]:
len(BE_sgRNA_Class_Labeled)

8096

In [274]:
BE_sgRNA_Class_Labeled.to_csv('CLIP1-LTK NG sgRNA Predicted Mutagenesis Classed Labeled 20220904.csv')

## Make sgRNA to Fasta file

In [199]:
sgRNA_Label = BE_sgRNA_Class_Labeled[['sgNAME', 'sgRNA Seq']]

In [203]:
sgRNA_Name_List = sgRNA_Label.drop_duplicates().values.tolist()

In [205]:
len(sgRNA_Name_List) == len(sgRNA_Seq)

True

In [206]:
with open('CLIP1LTK_sgRNA.fasta', 'w') as f:
    for i,m in sgRNA_Name_List:
        f.write('>'+i)
        f.write('\n')
        f.write(m)
        f.write('\n')

## Add Amino Acid Position of Fusion Protein

In [31]:
BE_sgRNA_Class_Labeled = pd.read_csv('CLIP1-LTK NG sgRNA Predicted Mutagenesis Classed Labeled 20220904.csv')

In [275]:
pd.set_option('display.max_columns', None)
BE_sgRNA_Class_Labeled.head()

,sgRNA Seq,Strand_x,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID,Old_cod_Letter,New_cod_Letter,Class,index,Rank,Target sequence,Genomic location,Strand_y,GC content (%),Self-complementarity,MM0,MM1,MM2,MM3,Efficiency,Seq Location,sgNAME
0,GGGATATTGCCGCCCGGAAC,pos,TGC,4,3745,ABE,GAT,GGT,2,Aspartic_acid,1239,Glycine,D,G,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
1,GGGATATTGCCGCCCGGAAC,pos,TGC,6,3747,ABE,ATT,GTT,1,Isoleucine,1240,Valine,I,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
2,GGGATATTGCCGCCCGGAAC,pos,TGC,10,3751,CBE,GCC,GTC,2,Alanine,1241,Valine,A,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599
3,TATTACCGCAGGGGGGACCG,pos,GGC,5,3847,ABE,TAC,TGC,2,Tyrosine,1273,Cysteine,Y,C,Missense,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653
4,TATTACCGCAGGGGGGACCG,pos,GGC,6,3848,CBE,TAC,TAT,3,Tyrosine,1273,Tyrosine,Y,Y,Silent,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653

In [301]:
#Define LTK AA
BE_sgRNA_Class_Labeled["LTK AA"] = -1
BE_sgRNA_Class_Labeled.loc[BE_sgRNA_Class_Labeled['BE_Target_AA']>1083,["LTK AA"]] = (BE_sgRNA_Class_Labeled['BE_Target_AA'] - 1084 + 488)
BE_sgRNA_Class_Labeled["LTK AA"].loc[BE_sgRNA_Class_Labeled['LTK AA'] > 865] = -1
#Define CLIP1 AA
BE_sgRNA_Class_Labeled["CLIP1 AA"] = BE_sgRNA_Class_Labeled['BE_Target_AA']
BE_sgRNA_Class_Labeled.loc[BE_sgRNA_Class_Labeled['BE_Target_AA']>1083,["CLIP1 AA"]] = -1
BE_sgRNA_Class_Labeled.loc[BE_sgRNA_Class_Labeled['BE_Target_AA']<1,["CLIP1 AA"]] = -1

C:\Users\Relentless\Anaconda2\envs\py35\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [306]:
#Define outside cDNA window sgRNA
BE_sgRNA_Class_Labeled.loc[(BE_sgRNA_Class_Labeled['CLIP1 AA'] == -1) & (BE_sgRNA_Class_Labeled['LTK AA'] == -1),'Class'] = 'Negative Control'
#Therefore Negative Control sgRNA are empty window or outside of cDNA

In [308]:
BE_sgRNA_Class_Labeled.to_csv('CLIP1-LTK NG sgRNA Predicted Mutagenesis Classed Labeled 20220904.csv')

# Single Classification of each sgRNA

In [313]:
BE_sgRNA_Class_Labeled['Mutation'] = None
BE_sgRNA_Class_Labeled.loc[BE_sgRNA_Class_Labeled['CLIP1 AA'] > 0 ,'Mutation'] = BE_sgRNA_Class_Labeled['Old_cod_Letter'] + BE_sgRNA_Class_Labeled['CLIP1 AA'].astype(str) + BE_sgRNA_Class_Labeled['New_cod_Letter']
BE_sgRNA_Class_Labeled.loc[BE_sgRNA_Class_Labeled['LTK AA'] > 0 ,'Mutation'] = BE_sgRNA_Class_Labeled['Old_cod_Letter'] + BE_sgRNA_Class_Labeled['LTK AA'].astype(str) + BE_sgRNA_Class_Labeled['New_cod_Letter']

In [316]:
BE_sgRNA_Class_Labeled.to_csv('CLIP1-LTK NG sgRNA Predicted Mutagenesis Classed Labeled 20220904.csv')

In [317]:
BE_sgRNA_Class_Labeled.head()

,sgRNA Seq,Strand_x,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID,Old_cod_Letter,New_cod_Letter,Class,index,Rank,Target sequence,Genomic location,Strand_y,GC content (%),Self-complementarity,MM0,MM1,MM2,MM3,Efficiency,Seq Location,sgNAME,LTK AA,CLIP1 AA,Mutation
0,GGGATATTGCCGCCCGGAAC,pos,TGC,4,3745,ABE,GAT,GGT,2,Aspartic_acid,1239,Glycine,D,G,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599,643,-1,D643G
1,GGGATATTGCCGCCCGGAAC,pos,TGC,6,3747,ABE,ATT,GTT,1,Isoleucine,1240,Valine,I,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599,644,-1,I644V
2,GGGATATTGCCGCCCGGAAC,pos,TGC,10,3751,CBE,GCC,GTC,2,Alanine,1241,Valine,A,V,Missense,0,1,GGGATATTGCCGCCCGGAACTG,seq:3727,+,65,0,1,0,0,0,0.0,3727,CLIPLTK_1599,645,-1,A645V
3,TATTACCGCAGGGGGGACCG,pos,GGC,5,3847,ABE,TAC,TGC,2,Tyrosine,1273,Cysteine,Y,C,Missense,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653,677,-1,Y677C
4,TATTACCGCAGGGGGGACCG,pos,GGC,6,3848,CBE,TAC,TAT,3,Tyrosine,1273,Tyrosine,Y,Y,Silent,1,2,TATTACCGCAGGGGGGACCGGG,seq:3828,+,65,0,1,0,0,1,0.0,3828,CLIPLTK_1653,677,-1,Y677Y

In [338]:
BE_sgRNA_Classes_Short = BE_sgRNA_Class_Labeled[['sgNAME','Type', 'BE_Target_AA', 'Class']]

In [339]:
BE_sgRNA_Classes_Short.head()

         sgNAME Type  BE_Target_AA     Class
0  CLIPLTK_1599  ABE          1239  Missense
1  CLIPLTK_1599  ABE          1240  Missense
2  CLIPLTK_1599  CBE          1241  Missense
3  CLIPLTK_1653  ABE          1273  Missense
4  CLIPLTK_1653  CBE          1273    Silent

In [352]:
#concatenate classes for each sgRNA
BE_sgRNA_Classes_Short_MultiClass = BE_sgRNA_Classes_Short.groupby(['sgNAME', 'Type']).agg(', '.join)
#concatenate classes for each type of Base Editor Class
BE_sgRNA_Classes_Short_AAvClass =  BE_sgRNA_Classes_Short.groupby(['sgNAME', 'Type','Class']).mean()

### Fin Class1 = Negative Control > iSTOP/Silence > Missense > Silent
### Fin Class2 = Negative Control > Missense > iSTOP/Silence > Silent

In [353]:
#For depletion, nonsense varients I expect likely to show up thefore Fin Class 1
#For enrichment, rare missense varients I expect likely to show up thefore Fin Class 2

In [354]:
BE_sgRNA_Classes_Short_MultiClass['Final Class1'] = 'No Class'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Silent'), 'Final Class1'] = 'Silent'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Missense'), 'Final Class1'] = 'Missense'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('iSilence'), 'Final Class1'] = 'iSilence'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('iStop'), 'Final Class1'] = 'iStop'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Negative Control'), 'Final Class1'] = 'Negative Control'
BE_sgRNA_Classes_Short_MultiClass['Final Class2'] = 'No Class'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Silent'), 'Final Class2'] = 'Silent'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('iSilence'), 'Final Class2'] = 'iSilence'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('iStop'), 'Final Class2'] = 'iStop'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Missense'), 'Final Class2'] = 'Missense'
BE_sgRNA_Classes_Short_MultiClass.loc[BE_sgRNA_Classes_Short_MultiClass['Class'].str.contains('Negative Control'), 'Final Class2'] = 'Negative Control'

In [369]:
BE_sgRNA_Classes_Short_MultiClass.head()

                                              Class      Final Class1  \
sgNAME     Type
CLIPLTK_0  ABE                     iSilence, Silent          iSilence
           CBE                   Missense, Missense          Missense
CLIPLTK_1  ABE   Negative Control, Negative Control  Negative Control
           CBE   Negative Control, Negative Control  Negative Control
CLIPLTK_10 ABE   Silent, Missense, Missense, Silent          Missense

                     Final Class2
sgNAME     Type
CLIPLTK_0  ABE           iSilence
           CBE           Missense
CLIPLTK_1  ABE   Negative Control
           CBE   Negative Control
CLIPLTK_10 ABE           Missense

In [358]:
BE_sgRNA_Classes_Short_AAvClass.index.get_level_values(2)

Index(['Silent', 'iSilence', 'Missense', 'Negative Control',
       'Negative Control', 'Missense', 'Silent', 'Missense', 'Missense',
       'Silent',
       ...
       'Silent', 'Missense', 'Silent', 'Missense', 'Silent', 'iStop', 'Silent',
       'Missense', 'Silent', 'Missense'],
      dtype='object', name='Class', length=5506)

In [426]:
BE_sgRNA_Classes_Short_AAvClass_reindexed = BE_sgRNA_Classes_Short_AAvClass.reset_index()
BE_sgRNA_Classes_Short_MultiClass_reindexed = BE_sgRNA_Classes_Short_MultiClass.reset_index()

In [428]:
BE_sgRNA_FinClass_AVE = pd.merge(BE_sgRNA_Classes_Short_MultiClass_reindexed, BE_sgRNA_Classes_Short_AAvClass_reindexed, left_on=['sgNAME', 'Type', 'Final Class1'], right_on=['sgNAME', 'Type', 'Class'], how='inner')
BE_sgRNA_FinClass_AVE = pd.merge(BE_sgRNA_FinClass_AVE, BE_sgRNA_Classes_Short_AAvClass_reindexed, left_on=['sgNAME', 'Type', 'Final Class2'], right_on=['sgNAME', 'Type', 'Class'], how='inner')

In [429]:
BE_sgRNA_FinClass_AVE = pd.merge(BE_sgRNA_FinClass_AVE, BE_sgRNA_Classes_Short_AAvClass_reindexed, left_on=['sgNAME', 'Type', 'Final Class2'], right_on=['sgNAME', 'Type', 'Class'], how='inner')

In [434]:
#Example of diffrent averages for each classification
BE_sgRNA_FinClass_AVE.iloc[29]

sgNAME                        CLIPLTK_101
Type                                  CBE
Class_x           Missense, Silent, iStop
Final Class1                        iStop
Final Class2                     Missense
Class_y                             iStop
BE_Target_AA_x                         81
Class                            Missense
BE_Target_AA_y                         80
Name: 29, dtype: object

In [440]:
BE_sgRNA_Class_Labeled.loc[(BE_sgRNA_Class_Labeled['sgNAME']=='CLIPLTK_101') & (BE_sgRNA_Class_Labeled['Type']=='CBE')]

,sgRNA Seq,Strand_x,PAM,sgRNA_Nuc,BE Nuc,Type,Cod_seq,New_cod,Cod_nuc,Old_cod_ID,BE_Target_AA,New_cod_ID,Old_cod_Letter,New_cod_Letter,Class,index,Rank,Target sequence,Genomic location,Strand_y,GC content (%),Self-complementarity,MM0,MM1,MM2,MM3,Efficiency,Seq Location,sgNAME,LTK AA,CLIP1 AA,Mutation
2845,GGAGAAACCCAGTTTGCACC,pos,AGG,8,268,CBE,ACC,ATC,2,Threonine,80,Isoleucine,T,I,Missense,689,690,GGAGAAACCCAGTTTGCACCAG,seq:246,+,55,0,1,0,1,46,0.0,246,CLIPLTK_101,-1,80,T80I
2846,GGAGAAACCCAGTTTGCACC,pos,AGG,9,269,CBE,ACC,ACT,3,Threonine,80,Threonine,T,T,Silent,689,690,GGAGAAACCCAGTTTGCACCAG,seq:246,+,55,0,1,0,1,46,0.0,246,CLIPLTK_101,-1,80,T80T
2847,GGAGAAACCCAGTTTGCACC,pos,AGG,10,270,CBE,CAG,TAG,1,Glutamine,81,Stop,Q,O,iStop,689,690,GGAGAAACCCAGTTTGCACCAG,seq:246,+,55,0,1,0,1,46,0.0,246,CLIPLTK_101,-1,81,Q81O

In [446]:
BE_sgRNA_FinClass_AVE_matched = BE_sgRNA_FinClass_AVE[['sgNAME', 'Type', 'Final Class1', 'BE_Target_AA_x', 'Final Class2', 'BE_Target_AA_y']]
#Change Names
new_col = ['sgNAME', 'Type', 'Final_Class1', 'BE_Target_AA_1', 'Final_Class2', 'BE_Target_AA_2']
BE_sgRNA_FinClass_AVE_matched.columns = new_col

In [448]:
BE_sgRNA_FinClass_AVE_matched.to_csv('CLIP1LTK Screen sgRNA single class and AA position 20220904.csv')

In [449]:
BE_sgRNA_Class_Labeled2 = BE_sgRNA_Class_Labeled.merge(BE_sgRNA_FinClass_AVE_matched, on='sgNAME')

In [451]:
BE_sgRNA_Class_Labeled2.to_csv('CLIP1-LTK NG sgRNA Predicted Mutagenesis Classed Labeled with Final Class 20220904.csv')